/* Estilos generales */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
}

/* Estilos para los botones */
.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8 15 8 15;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Estilos para los TextField y DatePicker */
.text-field, .date-picker {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-padding: 5;
}

/* Estilos para la tabla */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}

.table-view .column-header-background {
    -fx-background-color: #4CAF50;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30px;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Estilos para el contenedor del formulario */
.hbox {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-spacing: 10;
}
